body,
.preloader {
  display: flex;
}

body {
  line-height: 1.5;
  perspective: 40em;
}

.preloader {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: orange;
  width: 17em;
  height: 17em;
  position: absolute;
}

.preloader-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  background-color: black;
}

.preloader-container::after,
.preloader-container::before {
  content: "";
  background-color: orange;
  height: 100%;
  width: 100%;
  transform: translateX(100vw);
  transition: all 1s cubic-bezier(0.11, 0.6, 0.96, -0.81);
}
.preloader-container::before {
  background-color: white;
}
@keyframes anim-slide-left {
  0% {
    transform: translateX(-100vw);
  }
  80% {
    opacity: 0.85;
  }
  100% {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

.preloader-container.finished::after,
.preloader-container.finished::before {
  transform: translateX(-100vw);
  transition: all 1.5s ease-in-out;
  transition-delay: 0.15s;
}

.preloader-container.finished::before {
  transition-delay: 0.19s;
  transition: all 1.5s ease-in-out;
}
body {
  background-color: #222;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: orange;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: orange;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    opacity: 0.08;
    filter: blur(5px);
    letter-spacing: 3px;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  font-family: "Raleway", sans-serif;
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
  margin-top: 2rem;
  transition:  all .3s ease-in-out;
}
body,
html {
  height: 96vh;
  background-color: #111;
  color: orange;
}
