@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&display=swap");
html,
body {
  position: relative;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  -webkit-transition: 2s all ease-out;
  transition: 2s all ease-out;
  -webkit-transition-delay: -1s;
  transition-delay: -1s;
  background-color: black;
}

body {
  background: line;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 300px;
  height: 300px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  overflow: hidden;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .wrapper {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.container {
  position: absolute;
  width: 300px;
  height: 300px;
}

[data-typing] {
  position: absolute;
  top: 0;
  /*   border: 1px solid #f55; */
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  font-size: 25px;
  margin: 0;
  padding: 0;
  top: 100px;
  line-height: 1;
  color: black;
  font-weight: 900;
}

[data-typing="i"] {
  top: 0;
  left: 50px;
  font-size: 90px;
  height: 70px;
  line-height: 70px;
  font-weight: 900;
}

[data-typing="name"] {
  top: 3px;
  left: 80px;
  font-size: 26px;
  letter-spacing: 1px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 900;
}

[data-typing="engineer"] {
  top: 30px;
  left: 80px;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 900;
}

[data-typing="with"] {
  top: 90px;
  left: 265px;
  font-size: 36px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #333;
  color: #fff;
  padding: 0px 4px;
  font-weight: 900;
}

[data-typing="skills-in"] {
  top: 94px;
  left: 229px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 900;
}

[data-typing="typescript"] {
  top: 87px;
  right: 110px;
  font-size: 25px;
  font-weight: 900;
}

[data-typing="css"] {
  top: 115px;
  right: 110px;
  font-size: 18px;
  font-weight: 900;
}

[data-typing="app-dev"] {
  top: 134px;
  right: 110px;
  font-size: 12px;
}

[data-typing="animation"] {
  top: 143px;
  right: 110px;
  font-size: 32px;
}

[data-typing="scenejs"] {
  top: 170px;
  right: 110px;
  font-size: 26px;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: black;
  -webkit-animation: change-back 16s ease-in-out;
  animation: change-back 16s ease-in-out;
}

@-webkit-keyframes change-back {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

@keyframes change-back {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

body .scenejs-editor-timeline {
  position: fixed;
  bottom: 0;
  max-height: 300px;
}

.fa-arrow-down {
  -webkit-animation: move-down 1s linear infinite;
  animation: move-down 1s linear infinite;
  color: black !important;
}

.arrow {
  position: fixed;
}

.skip {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: .8rem;
  border: 2px solid orange;
  padding: 0 .5rem;
  border-radius: 20px;
  cursor: pointer;
}

.skip:hover {
  background-color: orange;
}

@-webkit-keyframes move-down {
  0% {
    position: relative;
    top: 0rem;
  }
  100% {
    top: 2rem;
  }
}

@keyframes move-down {
  0% {
    position: relative;
    top: 0rem;
  }
  100% {
    top: 2rem;
  }
}

/* //////////////////////////Preloaders End////////////////////////// */
.main-content {
  position: absolute;
  width: 100vw;
  min-height: 200vh;
}

.navbar {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: orange !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  height: 3rem;
  background-color: grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  margin: .5rem 1rem;
  margin-right: 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Bellota', cursive;
  cursor: pointer;
}

.navbar .nav-item {
  color: orange !important;
  margin: .5rem 1rem;
  font-weight: 300 !important;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar .nav-item.active {
  color: white !important;
}

.mobile-nav-toggle {
  height: 4px;
  width: 1.6rem;
  border-radius: 5px;
  position: absolute;
  background-color: white;
  right: 2rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.mobile-nav-toggle:before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  height: 4px;
  width: 1rem;
  right: 0;
  border-radius: 5px;
  background-color: orange;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.mobile-nav-toggle:hover {
  background-color: orange;
}

.mobile-nav-toggle::before:hover, .mobile-nav-toggle::after:hover {
  background-color: white;
}

.mobile-nav-toggle::after {
  content: "";
  position: absolute;
  height: 4px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  width: 1rem;
  border-radius: 5px;
  background-color: orange;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.mobile-nav-toggle.active ::before {
  background-color: orange;
  width: 1rem;
}

.mobile-nav-toggle:hover::after {
  background-color: white !important;
  width: 100%;
}

.mobile-nav-toggle:hover::before {
  background-color: white !important;
  width: 100%;
}

.navbar .nav-item:hover {
  color: white !important;
}

@media (max-width: 1080px) {
  .navbar .nav-item {
    margin: .5rem .5rem;
  }
}

@media (max-width: 895px) {
  .navbar .nav-item {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */