@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&display=swap");

:root {
  --theme-color: orange;
  --secondary-color: white;
  --background-color: black;
  --text-color-1: orange;
  --text-color-2: white;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  -webkit-transition: 2s all ease-out;
  transition: 2s all ease-out;
  -webkit-transition-delay: -1s;
  transition-delay: -1s;
  background-color: black;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 300px;
  height: 300px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  overflow: hidden;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 600px) {
  .wrapper {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.container {
  position: absolute;
  width: 300px;
  height: 300px;
}

[data-typing] {
  position: absolute;
  top: 0;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  font-size: 25px;
  margin: 0;
  padding: 0;
  top: 100px;
  line-height: 1;
  color: black;
  font-weight: 900;
}

[data-typing="i"] {
  top: 0;
  left: 50px;
  font-size: 90px;
  height: 70px;
  line-height: 70px;
  font-weight: 900;
}

[data-typing="name"] {
  top: 3px;
  left: 80px;
  font-size: 26px;
  letter-spacing: 1px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 900;
}

[data-typing="engineer"] {
  top: 30px;
  left: 80px;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 900;
}

[data-typing="with"] {
  top: 90px;
  left: 265px;
  font-size: 36px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #333;
  color: #fff;
  padding: 0px 4px;
  font-weight: 900;
}

[data-typing="skills-in"] {
  top: 94px;
  left: 229px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 900;
}

[data-typing="typescript"] {
  top: 87px;
  right: 110px;
  font-size: 25px;
  font-weight: 900;
}

[data-typing="css"] {
  top: 115px;
  right: 110px;
  font-size: 18px;
  font-weight: 900;
}

[data-typing="app-dev"] {
  top: 134px;
  right: 110px;
  font-size: 12px;
}

[data-typing="animation"] {
  top: 143px;
  right: 110px;
  font-size: 32px;
}

[data-typing="scenejs"] {
  top: 170px;
  right: 110px;
  font-size: 26px;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: black;
  -webkit-animation: change-back 16s ease-in-out;
  animation: change-back 16s ease-in-out;
}

@keyframes change-back {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

body .scenejs-editor-timeline {
  position: fixed;
  bottom: 0;
  max-height: 300px;
}

.fa-arrow-down {
  -webkit-animation: move-down 1s linear infinite;
  animation: move-down 1s linear infinite;
  color: black !important;
}

.arrow {
  position: fixed;
}

.skip {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  border: 2px solid var(--theme-color);
  padding: 0 0.5rem;
  border-radius: 20px;
  cursor: pointer;
}
.skip:hover {
  background-color: var(--theme-color);
}

@-webkit-keyframes move-down {
  0% {
    position: relative;
    top: 0rem;
  }
  100% {
    top: 2rem;
  }
}

@keyframes move-down {
  0% {
    position: relative;
    top: 0rem;
  }
  100% {
    top: 2rem;
  }
}

/* //////////////////////////Preloaders End////////////////////////// */

.main-content {
  position: absolute;
  width: 100vw;
}

.navbar {
  width: 100vw;
  display: flex;
  color: var(--text-color-1) !important;
  flex-direction: row !important;
  height: 3rem;
  align-items: center;
  position: fixed;
}

.navbar .logo {
  margin: 0.5rem 1rem;
  margin-right: 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Bellota", cursive;
  cursor: pointer;
}

.navbar .nav-item {
  color: var(--text-color-1) !important;
  margin: 0.5rem 1rem;
  font-weight: 300 !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-item.active {
  color: var(--text-color-2) !important;
}

.mobile-nav-toggle {
  height: 4px;
  width: 1.6rem;
  border-radius: 5px;
  position: absolute;
  background-color: var(--text-color-2);
  right: 2rem;
  margin: 5px 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.mobile-nav-toggle:before {
  content: "";
  position: absolute;
  transform: translateY(-7px);
  height: 4px;
  width: 1rem;
  right: 0;
  border-radius: 5px;
  background-color: var(--text-color-1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.mobile-nav-toggle:hover {
  background-color: var(--text-color-1);
}

.mobile-nav-toggle::before:hover,
.mobile-nav-toggle::after:hover {
  background-color: var(--text-color-2);
}

.mobile-nav-toggle::after {
  content: "";
  position: absolute;
  height: 4px;
  transform: translateY(7px);
  width: 1rem;
  border-radius: 5px;
  background-color: var(--text-color-1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.mobile-nav-toggle.active ::before {
  background-color: var(--text-color-1);
  width: 1rem;
}

.mobile-nav-toggle:hover {
  &::after {
    background-color: var(--text-color-2) !important;
    width: 100%;
  }
  &::before {
    background-color: var(--text-color-2) !important;
    width: 100%;
  }
}

.navbar .nav-item:hover {
  color: var(--text-color-1) !important;
}

@media (max-width: 1080px) {
  .navbar .nav-item {
    margin: 0.5rem 0.5rem;
  }
}

@media (max-width: 895px) {
  .navbar .nav-item {
    display: none;
  }
}

.mode-toggle {
  position: fixed;
  right: 2rem;
  margin-top: 3.5rem;
  color: var(--text-color-1);
  font-size: 1.3rem;
  cursor: pointer;

  &:hover {
    color: var(--text-color-2);
  }

  &.fa-lightbulb-o {
    right: 2.3rem;
  }
}

.arrow {
  position: fixed;
  bottom: .5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  left: calc(50% - 1rem);
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-out;

  .fa {
    font-size: 1rem;
    color: var(--text-color-1) !important
  }

}

body.light-mode {
  background-color: white !important;
  --theme-color: black;
  --text-color-2: black;
}
