@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,600;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&display=swap");
.fa-arrow-down {
  -webkit-animation: move-down 1s linear infinite;
  animation: move-down 1s linear infinite;
  color: black !important;
}

.arrow {
  position: fixed;
}

.skip {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  border: 2px solid var(--theme-color);
  padding: 0 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.skip:hover {
  background-color: var(--theme-color);
}

@-webkit-keyframes move-down {
  0% {
    position: relative;
    top: 0rem;
  }
  100% {
    top: 2rem;
  }
}

@keyframes move-down {
  0% {
    position: relative;
    top: 0rem;
  }
  100% {
    top: 2rem;
  }
}

/* //////////////////////////Preloaders End////////////////////////// */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-content {
  position: absolute;
  width: 100vw;
  -webkit-animation: fade-in 1.2s ease-in-out;
          animation: fade-in 1.2s ease-in-out;
}

.navbar {
  width: 100vw !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-color-1) !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  border-bottom: 1px solid #eee;
  padding-left: 5vw;
  z-index: 100;
  background-color: var(--background-color);
}

.navbar .logo {
  margin: 0.5rem 1rem;
  margin-right: 3rem;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Bellota", cursive;
  cursor: pointer;
}

.navbar .logo .fa {
  font-size: 1.2rem;
  position: relative;
  top: 0.1rem;
  color: var(--text-color-2);
}

.navbar .nav-item {
  color: var(--text-color-1);
  margin: 0.5rem 1rem;
  font-weight: 300 !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
}

.navbar .nav-item.active {
  color: var(--text-color-2) !important;
}

.nav-item:hover {
  color: var(--text-color-2) !important;
}

.mobile-nav-toggle {
  height: 4px;
  width: 1.6rem;
  border-radius: 5px;
  position: absolute;
  background-color: var(--text-color-2);
  right: 2rem;
  margin: 5px 0;
  cursor: pointer;
  z-index: 3;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mobile-nav-toggle.active {
  background-color: transparent !important;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.mobile-nav-toggle.active::after {
  -webkit-transform: translateY(0px) rotateZ(-45deg);
          transform: translateY(0px) rotateZ(-45deg);
  width: 100%;
  opacity: 1;
}

.mobile-nav-toggle.active::before {
  -webkit-transform: translateY(-1px) rotate(45deg);
          transform: translateY(-1px) rotate(45deg);
  width: 100%;
  opacity: 1;
}

.mobile-nav-toggle:before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  height: 4px;
  width: 1rem;
  right: 0;
  border-radius: 5px;
  background-color: var(--text-color-1);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mobile-nav-toggle:hover {
  background-color: var(--text-color-1);
}

.mobile-nav-toggle::before:hover,
.mobile-nav-toggle::after:hover {
  background-color: var(--text-color-2);
}

.mobile-nav-toggle::after {
  content: "";
  position: absolute;
  height: 4px;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
  width: 1rem;
  border-radius: 5px;
  background-color: var(--text-color-1);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mobile-nav-toggle.active ::before {
  background-color: var(--text-color-1);
  width: 1rem;
}

.mobile-nav-toggle:hover::after {
  background-color: var(--text-color-2) !important;
  width: 100%;
}

.mobile-nav-toggle:hover::before {
  background-color: var(--text-color-2) !important;
  width: 100%;
}

@media (max-width: 1080px) {
  .navbar .nav-item {
    margin: 0.5rem 0.5rem;
  }
}

@media (max-width: 895px) {
  .navbar .nav-item {
    display: none;
  }
}

.mode-toggle {
  position: fixed;
  right: 1.2rem;
  margin-top: 3.5rem;
  color: var(--text-color-1);
  font-size: 1.3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

.mode-toggle:hover {
  color: var(--text-color-2);
}

.mode-toggle.fa-lightbulb-o {
  right: 1.4rem;
}

.arrow {
  position: fixed;
  bottom: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: calc(50% - 1rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.arrow .fa {
  font-size: 1rem;
  color: var(--text-color-1) !important;
}

.transparent {
  background-color: transparent !important;
  border-bottom: transparent;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.808);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0;
  z-index: -3;
  will-change: opacity;
}

.mobile-menu .mobile-nav-item {
  text-align: center;
  font-size: 2rem;
  color: var(--text-color-1);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

.mobile-menu .mobile-nav-item:hover {
  color: var(--text-color-2);
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

@media (max-width: 560px) {
  .profession-heading {
    padding-right: 0 !important;
  }
  .mobile-nav-item {
    font-size: 1.6rem;
  }
  .mode-toggle,
  .mobile-nav-toggle {
    right: 0.6rem !important;
  }
  .mobile-menu {
    padding-top: 20%;
  }
}

.mobile-menu.active {
  opacity: 1 !important;
  z-index: 1;
}

.mobile-menu.active .mobile-nav-item {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  opacity: 1;
}

body.dark-mode {
  --background-color: #292929 !important;
  --text-color-2: white;
}

body.dark-mode .navbar {
  border-bottom: none;
}

.hand {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  will-change: transform;
  display: inline-block;
  cursor: -webkit-grab;
  cursor: grab;
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  40% {
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  20% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  30% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  40% {
    -webkit-transform: rotate(9deg);
            transform: rotate(9deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.middle {
  margin: auto 3rem;
}

.section-one {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
}

.section-one .picture-container {
  position: relative;
}

.section-one .picture-inner {
  position: absolute;
  width: 80%;
  height: 90%;
  border: 7px solid var(--theme-color);
  top: -5%;
  z-index: -1;
  -webkit-animation: spin 20s linear infinite;
          animation: spin 20s linear infinite;
  border-radius: 10px;
}

.section-one .picture {
  position: relative;
  top: -100px;
  left: -50px;
  width: 740px;
  height: 600px;
  background-image: url(../img/me.jpg);
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: cover;
  -webkit-clip-path: polygon(28% 0, 100% 25%, 61% 100%, 0 93%);
  clip-path: polygon(31% 0, 100% 25%, 61% 100%, 0 93%);
}

.section-one .introduction {
  width: 40%;
  left: -25px;
  padding-right: 5%;
  position: relative;
}

.section-one .introduction .name {
  font-size: 2rem;
  margin-top: -0.8rem;
  margin-bottom: 0;
  line-height: 1 !important;
  color: var(--text-color-2);
}

.section-one .introduction .name .aka {
  font-size: 1rem;
  color: var(--text-color-1);
  font-weight: 300;
  line-height: 1;
}

.section-one .introduction p {
  font-size: 1.2rem;
  color: var(--text-color-1);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.section-one .introduction .profession-heading {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: var(--text-color-2);
}

@media (max-width: 790px) {
  .section-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction {
    width: 100% !important;
    padding-right: 10% !important;
  }
}

@media (max-width: 560px) {
  .picture {
    width: 100% !important;
    -webkit-clip-path: polygon(28% 0, 100% 25%, 71% 100%, 0 93%) !important;
    clip-path: polygon(28% 0, 100% 25%, 71% 100%, 0 93%) !important;
    height: 80%;
  }
}

.links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.links a {
  color: var(--text-color-2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.6rem;
  margin: 0 0.7rem;
  margin-top: 0.5rem;
}

.links a:first-of-type {
  margin-left: 0;
}

.links .fa {
  text-align: center;
  font-size: 1rem;
}

.links a:hover {
  color: var(--text-color-1);
}

.split-section {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.split-section .left-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split-section .left-side h2 {
  line-height: 1;
  text-align: left;
  position: relative;
  color: var(--theme-color);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.split-section .right-side {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-top: 1rem;
  padding: 0 8%;
  font-size: 0.9rem;
  color: var(--text-color-2);
}

@media (max-width: 640px) {
  .split-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .split-section .left-side {
    margin-bottom: -1rem;
  }
  .split-section .left-side .dissapear-560 {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */